@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
:root {
    --peach: #F9C48B;
    --tangerine: #F69051;
    --burnt-peach: #F26D40;
    --mahogany: #260803;
    --seashell: #FDEFEC;
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}


section {
    background-color: var(--seashell);
    margin: 3px 9px;

}
/*////////////////////////
    2. Typography
////////////////////////*/


/*////////////////////////
    3. Areas
////////////////////////*/


/*////////////////////////
    2. Media Queries
////////////////////////*/
/* Alles wat men buiten de media query specificeert, geldt dan voor mobiele apparaten */
p {
    font-size: 12px;
}
body {
    background-color: var(--peach);
}

/* Minimaal 768px betekend regels die gelden voor tablets */
@media screen and (min-width: 768px) {
    p {
        font-size: 14px;
    }

    body {
        background-color: var(--tangerine);
    }}


    /* Minimaal 992px betekend regels die gelden voor kleine computerschermen */
    @media screen and (min-width: 992px) {
        p {
            font-size: 16px;
        }

        body {
            background-color: var(--burnt-peach);
        }
    }
    img {
        width: 100%;
    }
